<footer>
    <small>
        <%= link_to 'Spottapp. Todos os direitos reservados.', "#" %>
    </small>

    <nav>
        <ul>
            <li>
                <%= link_to 'Sobre', "#" %>
            </li>
            <li>
                <%= link_to 'Contato', "#" %>
            </li>
        </ul>
    </nav>
</footer>