<footer>
    <small>
        <%= link_to 'Spottapp. Todos os direitos reservados.', "#" %>
    </small>

    <nav>
        <ul id="spottapp-static-links">
            <li>
                <%= link_to 'Sobree', about_path %>
            </li>
            <li>
                <%= link_to 'Contato', contact_index_path %>
            </li>
        </ul>
    </nav>
</footer>