<nav class="navbar navbar-inverse navbar-static-top" id="application-header">
    <div class="container">
        <div class="navbar-header" id="expanded-menu">
            <%= image_tag 'logo.png', id: 'spottapp-logo' %>
            <%= link_to 'Spottapp', root_url, class: 'navbar-brand' %>
        </div>
    </div>
</nav>