/*
 *= require_self
 *= require_tree
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #EAEAEA;
$white: #fff;
$gray-strong-dark: #231e20;
$gray-light: #fafafa;

body {
    background-color: $gray-light;
}

footer {
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;

    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;

    color: $gray-light;
    a {
        color: $gray;

        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }

    #spottapp-static-links {
        font-size: 12px;
    }
}

.btn.btn-primary {
    background-color: $gray-strong-dark !important;
    border-color: $gray-strong-dark;
    color: $white;
}

#spottapp-header {
    background-color: $white;
    body{
        margin-top: 50px;
        background-color: #f1f1f1;
      } 
      .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: #17A2B8;
      }
      .dropdown-menu{
        top: 60px;
        right: 0px;
        left: unset;
        width: 460px;
        box-shadow: 0px 5px 7px -1px #c1c1c1;
        padding-bottom: 0px;
        padding: 0px;
      }
      .dropdown-menu:before{
        content: "";
        position: absolute;
        top: -20px;
        right: 12px;
        border:10px solid #343A40;
        border-color: transparent transparent #343A40 transparent;
      }
      .head{
        padding:5px 15px;
        border-radius: 3px 3px 0px 0px;
      }
      .footer{
        padding:5px 15px;
        border-radius: 0px 0px 3px 3px; 
      }
      .notification-box{
        padding: 10px 0px; 
      }
      .bg-gray{
        background-color: #eee;
      }
      @media (max-width: 640px) {
          .dropdown-menu{
            top: 50px;
            left: -16px;  
            width: 290px;
          } 
          .nav{
            display: block;
          }
          .nav .nav-item,.nav .nav-item a{
            padding-left: 0px;
          }
          .message{
            font-size: 13px;
          }
      }

}

#spottapp-logo {
    width: 45px;
    margin-right: 20px;
}

[data-toggle=collapse] {
    background-color: $white;
    border-color: $white !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@media (max-width: 768px) {
    #spottapp-logo {
        height: 0;
        width: 0;
    }   
}

.botao {
    width: 130px;
    margin: 2px 0px;
    padding: 10px 10px;

    font-size: 14px;
    color: #FFFFFF;
    text-align: center;

    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #000000;

    background-color: #000000;
}

.botao.large {
    width: 170px;
}

.botao.small {
    width: 100px;
    height: 28px;
    margin: 0px;
    padding: 2px 10px;

    font-size: 13px;
}

.botao:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.botao:active, .botao:focus {
  outline: none;
}

.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

#spottapp-header a.navbar-brand {
    padding: 2px 16px;
}

#spottapp-header .small-screen {
    display: none;
}

@media (max-width: 269px) {

    #spottapp-header .big-screen {
        display: none;
    }

    #spottapp-header .small-screen {
        display: inline;
    }
}
