// Place all the styles related to the Colleges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// - - - Index - - -
.colleges#index {
  border-style: none;
  height: calc(100vh - 122px);
}

.colleges#index .jumbotron {
  width: 100%;
  height: 100%;
  background: rgb(137,71,255);
  background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
  padding: 15px 20px;
}

.colleges#index .jumbotron h2 {
  text-align: center;
  margin-bottom: 20px;
}

.colleges#index .jumbotron .collegebox {
  width: 100%;
  height: calc(100% - 122px);
  height: -moz-calc(100% - 122px);
  height: -webkit-calc(100% - 122px);
  margin: auto;
  overflow: scroll;
}

.colleges#index .jumbotron .collegebox .college {
  width: 400px;
  height: auto;
  min-height: 50px;
  background-color: #fdfdfd;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(228, 225, 225);
  border-radius: 15px;
  padding: 15px 20px;
  margin: auto;
  margin-bottom: 5px;
}

.colleges#index .jumbotron .collegebox .college .summary {
  display: flex;
}

.colleges#index .jumbotron .collegebox .college .summary .name {
  width: calc(100% - 125px);
}

.colleges#index .jumbotron .collegebox .college .summary .options {
  flex-grow: 1;
  text-align: right;
}

.colleges#index .jumbotron .collegebox .college .details {
  display: none;
  margin: 10px 0px;
}

.colleges#index .jumbotron .collegebox .college .details .specifications {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #7a7a7a;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.colleges#index .jumbotron .collegebox .college .details .college-btn {
  text-align: center;
}

.colleges#index .jumbotron .collegebox .college .details .college-btn a:hover {
  text-decoration: none;
}

.colleges#index .jumbotron .btn-create {
  text-align: center;
}

@media (max-width: 579px) {
  .colleges#index .jumbotron .collegebox .college {
    width: 100%;
  }  
}

@media (max-width: 361px) {

  .colleges#index .jumbotron h2 {
    margin-top: 0px;
  }

  .colleges#index .jumbotron .collegebox {
    height: calc(100% - 118px);
    height: -moz-calc(100% - 118px);
    height: -webkit-calc(100% - 135px);
  }

}

// - - - New - - -
.colleges#new {
  border-style: none;
}

.colleges#new .jumbotron {
  width: 100%;
  height: 100%;
  background: rgb(137,71,255);
  background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
  padding: 15px 20px;
}

.colleges#new .jumbotron h2 {
  text-align: center;
  margin-bottom: 20px;
}

.colleges#new .jumbotron .form {
  width: 90%;
  margin: auto;
}

.colleges#new .jumbotron .form .register {
    text-align: center;
}

.colleges#new .jumbotron .form .box .left.small {
  font-size: 14px;
}

@media (max-width: 639px) {

    .colleges#new .jumbotron .form .box .left,
    .colleges#new .jumbotron .form .box .right {
        margin-bottom: 10px;
    }
}

@media (min-width: 640px) {

    .colleges#new .jumbotron .form {
        width: 85%;
        margin: auto;
    }

    .colleges#new .jumbotron .form .box {
        display: flex;
        margin: 20px 0px;
    }

    .colleges#new .jumbotron .form .box .left {
        width: 50%;
        margin-right: 20px;
    }

    .colleges#new .jumbotron .form .box .right {
        width: 50%;
    }

    .colleges#new .jumbotron .form .box .left.small {
        width: 30%;
        margin-right: 20px;
    }

    .colleges#new .jumbotron .form .box .right.big {
        width: 70%;
        margin-right: 20px;
    }
}

// - - - Edit - - -
.colleges#edit {
  border-style: none;
}

.colleges#edit .jumbotron {
  width: 100%;
  height: 100%;
  background: rgb(137,71,255);
  background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
  padding: 15px 20px;
}

.colleges#edit .jumbotron h2 {
  text-align: center;
  margin-bottom: 20px;
}

.colleges#edit .jumbotron .form {
  width: 90%;
  margin: auto;
}

.colleges#edit .jumbotron .form .btn-update,
.colleges#edit .jumbotron .form .btn-add,
.colleges#edit .jumbotron .form .btn-delete,
.colleges#edit .jumbotron .form .admin-list {
    text-align: center;
    margin: 20px 0px;
}

@media (max-width: 639px) {

    .colleges#edit .jumbotron .form .box .left,
    .colleges#edit .jumbotron .form .box .right {
        margin-bottom: 10px;
    }
}

.colleges#edit .jumbotron .form .box .left.small {
  font-size: 14px;
}

@media (min-width: 640px) {

    .colleges#edit .jumbotron .form {
        width: 85%;
        margin: auto;
    }

    .colleges#edit .jumbotron .form .box {
        display: flex;
        margin: 20px 0px;
    }

    .colleges#edit .jumbotron .form .box .left {
        width: 50%;
        margin-right: 20px;
    }

    .colleges#edit .jumbotron .form .box .right {
        width: 50%;
    }

    .colleges#edit .jumbotron .form .box .left.small {
        width: 30%;
        margin-right: 20px;
    }

    .colleges#edit .jumbotron .form .box .right.big {
        width: 70%;
        margin-right: 20px;
    }

    .colleges#edit .jumbotron .form .box .left.medium {
        width: 30%;
        margin-right: 20px;
        margin-left: 20%;
    }

    .colleges#edit .jumbotron .form .box .right.medium {
        width: 30%;
        margin-right: 20%;
    }

    .colleges#edit .jumbotron .form .nickname {
        width: 60%;
        margin: auto;
    }
}

@media (min-width: 640px) and (max-width: 991px) {

  .colleges#edit .jumbotron .form .box .left.medium {
      width: 35%;
      margin-right: 20px;
      margin-left: 15%;
  }

  .colleges#edit .jumbotron .form .box .right.medium {
    width: 35%;
    margin-right: 15%;
  }

  .colleges#edit .jumbotron .form .nickname {
      width: 70%;
      margin: auto;
  }
}

// - - - Per_Area - - -
.colleges#per_area {
  border-style: none;
  height: calc(100vh - 122px);
}

.colleges#per_area .jumbotron {
  width: 100%;
  height: 100%;
  background: rgb(137,71,255);
  background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
  padding: 15px 20px;
}

.colleges#per_area .jumbotron h2 {
  text-align: center;
  margin-bottom: 20px;
}

.colleges#per_area .jumbotron .collegebox {
  width: 100%;
  height: calc(100% - 122px);
  height: -moz-calc(100% - 122px);
  height: -webkit-calc(100% - 122px);
  margin: auto;
  overflow: scroll;
}

.colleges#per_area .jumbotron .collegebox .college {
  width: 400px;
  height: auto;
  background-color: #fdfdfd;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(228, 225, 225);
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 5px;
}

.colleges#per_area .jumbotron .collegebox .college .details {
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.colleges#per_area .jumbotron .collegebox .college .details table {
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

.colleges#per_area .jumbotron .collegebox .college .details table td {
  text-align: left;
  vertical-align: middle;
}

.colleges#per_area .jumbotron .collegebox .college .details table thead tr th.col1 {
  width: 70px;
}

.colleges#per_area .jumbotron .collegebox .college .college-btn {
  text-align: center;
}

@media (max-width: 344px) {

  .colleges#per_area .jumbotron h2 {
    font-size: 22px;
  }

  .colleges#per_area .jumbotron .collegebox {
    height: calc(100% - 135px);
    height: -moz-calc(100% - 135px);
    height: -webkit-calc(100% - 135px);
  }

  .colleges#per_area .jumbotron .collegebox .college {
    width: 100%;
  }

  .colleges#per_area .jumbotron .collegebox .college .details table {
    font-size: 12px;
  }

}

@media (min-width: 345px) and (max-width: 479px) {

  .colleges#per_area .jumbotron h2 {
    font-size: 28px;
  }

  .colleges#per_area .jumbotron .collegebox {
    height: calc(100% - 149px);
    height: -moz-calc(100% - 149px);
    height: -webkit-calc(100% - 149px);
  }

  .colleges#per_area .jumbotron .collegebox .college {
    width: 100%;
  }

  .colleges#per_area .jumbotron .collegebox .college .details table {
    font-size: 12px;
  }

}

@media (min-width: 480px) and (max-width: 527px) {

  .colleges#per_area .jumbotron .collegebox {
    height: calc(100% - 155px);
    height: -moz-calc(100% - 155px);
    height: -webkit-calc(100% - 155px);
  }

}