.favorite-colleges#show {
  border-style: none;
}

.favorite-colleges#show .jumbotron {
  width: 100%;
  height: 100%;
  background: rgb(137,71,255);
  background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
  padding: 15px 20px;
}

.favorite-colleges#show .jumbotron h2 {
  text-align: center;
  margin-bottom: 20px;
}

.favorite-colleges#show .jumbotron .collegebox {
  width: 50%;
  margin: auto;
}

.favorite-colleges#show .jumbotron .collegebox .college {
  width: 100%;
  height: 50px;
  background-color: #fdfdfd;
  position: relative;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(228, 225, 225);
  border-radius: 15px;
  padding: 15px 20px 0px 20px;
  margin-bottom: 5px;
  display: flex;
}

.favorite-colleges#show .jumbotron .collegebox .college .overlay {
  width: 40%;
  text-decoration: none;
  color: black;
}

.favorite-colleges#show .jumbotron .collegebox .college .overlay span { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 15px 0px 0px 20px;
}

.favorite-colleges#show .jumbotron .collegebox .college .overlay span:hover {
  background-color: #cce5fbef;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.favorite-colleges#show .jumbotron .collegebox .college .options {
  width: 60%;
  text-align: right;
  pointer-events: none;
  z-index: 6;
}

.favorite-colleges#show .jumbotron .collegebox .college .options a {
  pointer-events: all;
}

.favorite-colleges#show .jumbotron .collegebox .college .options a:hover {
  color: green;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.favorite-colleges#show .jumbotron .collegebox .college .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #fdfdfd;
  color: black;
  border-style: solid;
  border-width: 0.5px;
  border-color: #000000;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 10px;

  position: absolute;
  z-index: 10;

  top: 0px;
  left: 102%;
}

.favorite-colleges#show .jumbotron .collegebox .college:hover .tooltiptext {
  visibility: visible;
}

.favorite-colleges#show .jumbotron .collegebox .college table {
  border-collapse: collapse;
  width: 100%;
}

.favorite-colleges#show .jumbotron .collegebox .college table td {
  border-bottom: 1px solid #000;
  text-align: left;
  vertical-align: bottom;
  padding: 5px;
}

.favorite-colleges#show .jumbotron .collegebox .college table tr.noBorder td {
  border: 0;
}

@media (max-width: 768px) {
  .favorite-colleges#show .jumbotron .collegebox {
    width: 80%;
  }  
}

@media screen and (max-width: 900px) {

  .favorite-colleges#show .jumbotron .collegebox .college .tooltiptext {
    top: 40px;
    left: 50%;
  }
}

@media screen and (max-width: 420px) {

  .favorite-colleges#show .jumbotron .collegebox .college .tooltiptext {
    top: 40px;
    left: 20%;
  }
}

@media screen and (max-width: 300px) {

  .favorite-colleges#show .jumbotron .collegebox .college .tooltiptext {
    top: 45px;
    left: -15%;
  }
}