// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// - - - Edit - - -
.user#edit .jumbotron {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: rgb(137,71,255);
    background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
}

.user#edit .jumbotron h3.subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.user#edit .jumbotron .data .save {
    text-align: center;
}

@media (max-width: 639px) {

    .user#edit .jumbotron .data .left,
    .user#edit .jumbotron .data .right,
    .user#edit .jumbotron .data .email,
    .user#edit .jumbotron .data .city {
        margin-bottom: 10px;
    }
}

@media (min-width: 640px) {

    .user#edit .jumbotron .data {
        width: 569px;
        margin: auto;
    }

    .user#edit .jumbotron .data .box {
        display: flex;
        margin: 20px 0px;
    }

    .user#edit .jumbotron .data .left {
        width: 50%;
        margin-right: 20px;
    }

    .user#edit .jumbotron .data .right {
        width: 50%;
    }
}

// - - - New - - -
.user#new h2 {
    text-align: center;
}

.user#new .jumbotron {
    background: rgb(137,71,255);
    background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
}

.user#new .jumbotron .register-area {
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    background-color: #FFFFFF30;
}

.user#new .jumbotron .register-area .form {
    width: 100%;
}

.user#new .jumbotron .register-area .form .register {
    text-align: center;
}

.user#new .jumbotron .register-area .form .left,
.user#new .jumbotron .register-area .form .right,
.user#new .jumbotron .register-area .form .email,
.user#new .jumbotron .register-area .form .city,
.user#new .jumbotron .register-area .form .fav-pages {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 640px) {

    .user#new .jumbotron .register-area .form {
        width: 80%;
        margin: auto;
    }

    .user#new .jumbotron .register-area .form .box {
        display: flex;
        margin: 20px 0px;
    }

    .user#new .jumbotron .register-area .form .left {
        width: 50%;
        margin-right: 20px;
    }

    .user#new .jumbotron .register-area .form .right {
        width: 50%;
    }

    .user#new .jumbotron .register-area .form .left,
    .user#new .jumbotron .register-area .form .right,
    .user#new .jumbotron .register-area .form .email,
    .user#new .jumbotron .register-area .form .city {
        margin-bottom: 0px;
    }
}

// - - - Show - - -
.user#show {
    height: calc(100vh - 122px);
    border-style: none;
}

.user#show h2 {
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.user#show .jumbotron {
    width: 100%;
    height: 100%;
    padding: 48px;
    background: rgb(137,71,255);
    background: linear-gradient(326deg, rgba(137,71,255,1) 0%, rgba(255,129,251,1) 50%, rgba(255,82,82,1) 100%);
}

.user#show .jumbotron .user-area {
    width: 100%;
    margin: auto;
    padding: 30px 5px 5px 5px;
    border-radius: 6px;
    background-color: #FFFFFF30;
}

.user#show .jumbotron .user-area .big-screen {
    width: 100%;
    display: inline-block;
}

.user#show .jumbotron .user-area .small-screen {
    width: 100%;
    display: none;
}

// -> List Menu
.user#show .jumbotron .user-area #list-menu {
    text-align: center;
}

.user#show .jumbotron .user-area #list-menu .mybtn {
    margin-bottom: 6px;
}

// -> Circle Menu
.user#show .jumbotron .user-area #circle-menu {
    width: 330px;
    margin: auto;
    text-align: center;
}

.user#show .jumbotron .user-area #circle-menu .profile {
    width: 80px;
    pointer-events: none;
    margin: auto;
}

.user#show .jumbotron .user-area #circle-menu .second,
.user#show .jumbotron .user-area #circle-menu .third {
    display: flex;
}

.user#show .jumbotron .user-area #circle-menu .second .hello {
    font-size: 20px;
    margin: auto;
}

.user#show .jumbotron .user-area #circle-menu .third .space {
    width: 70px;
}

.user#show .jumbotron .user-area #circle-menu .second .menu,
.user#show .jumbotron .user-area #circle-menu .third .favorites {
    width: 80px;
    pointer-events: none;
    margin-left: auto;
}

.user#show .jumbotron .user-area #circle-menu .second .friends,
.user#show .jumbotron .user-area #circle-menu .third .chat {
    width: 80px;
    pointer-events: none;
    margin-right: auto;
}

.user#show .jumbotron .user-area #circle-menu .botao.circle {
    pointer-events: all;
}

.user#show .jumbotron .user-area #circle-menu .profile .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .menu .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .favorites .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .friends .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .chat .tooltiptext {
    visibility: hidden;
    font-size: 16px;
}

.user#show .jumbotron .user-area #circle-menu .profile:hover .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .menu:hover .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .friends:hover .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .favorites:hover .tooltiptext,
.user#show .jumbotron .user-area #circle-menu .chat:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 289px) {

    .user#show .jumbotron {
        padding: 10px;
    }

    .user#show .jumbotron .user-area .big-screen {
        display: none;
    }

    .user#show .jumbotron .user-area .small-screen {
        display: inline-block;
    }
}

@media (min-width: 290px) and (max-width: 400px) {

    .user#show .jumbotron {
        padding: 10px;
    }

    .user#show .jumbotron .user-area #circle-menu .botao.circle {
        width: 55px;
        height: 55px;
        border-radius: 30px;
    }

    .user#show .jumbotron .user-area #circle-menu {
        width: 230px;
    }

    .user#show .jumbotron .user-area #circle-menu .third .space {
        width: 50px;
    }
}

@media (min-width: 401px) and (max-width: 499px) {

    .user#show .jumbotron {
        padding: 20px;
    }
}