<h2 class="h1-responsive font-weight-bold text-center my-4">Está precisando falar com a gente?</h2>
<p class="text-center w-responsive mx-auto mb-5">Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe entrará em contato com você para ajudá-lo</p>
<section class="resume-section p-4 p-lg-5 text-center" id="contact">
  <%= render 'contact_form' %>
</section>
