<div class="contact" id="index">

  <div class="jumbotron">

    <div class="contact-area">
      <h2>Está precisando falar com a gente?</h2>
      <p class="subtitle">Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe entrará em contato com você para ajudá-lo</p>
      
      <section id="contact">
        <%= render 'contact_form' %>
      </section>
    </div>
  </div>

</div>