<div class="jumbotron">
  <h1>Spottapp</h1>
  <p>
    Encontre seu crush aqui
  </p>
 
  <% if !user_signed_in? %>
    <p>
      <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
    </p>

    <p>
      <%= link_to 'Faça Login', entrar_path, class: 'btn btn-primary btn-lg' %>
    </p>
  <% end %>

</div>