<div class="jumbotron">
  <h1>Spottapp</h1>
  <p>
    Encontre seu crush aqui
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>

  <p>
  <%= link_to 'Faça login', entrar_path, class: 'btn btn-primary btn-lg' %>
</p>
</div>