<div class="college_whitelists" id="rejected">

    <div class="jumbotron">
        <div class="information">
            <h2>Pedir permissão de entrada</h2>

            <p>Sua permissão foi rejeitada pela administração.</p>

            <div class="btn-back">
                <%= button_to 'Voltar', colleges_path, method: "get", class: 'botao small' %>
            </div>
        </div>
    </div>

</div>