<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal">x</button>

  <h4 class="modal-title" id="myModalLabel">Curtidas</h4>

</div>

<div class="modal-body">

  <% @spotted.like.each do |like| %>
    <p> <%= like.user.nickname %> </p>
  <%end%>

</div>
