<%= form_for([@spotted, @spotted.comment.build]) do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <div class="form-group">
                <%= f.text_field :content, class: 'form-control' %>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <%= f.submit 'Mandar comentário', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>