<%= form_for([@spotted, @spotted.comment.build]) do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    <div class="form-group" id="comment-area">

        <div id="new-comment">
            <%= f.text_field :content, class: 'form-control' %>
        </div>

        <div id="send-button">
            <%= button_tag type: 'submit', class: "btn btn-primary" do %>
                <i class="fa fa-paper-plane"></i>
            <% end %>
        </div>
        
    </div>
<% end %>