<div id="new-comment">
    <%= form_for([@spotted, @spotted.comment.build]) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <div class="form-group" id="comment-area">

            <div class="new-comment-text">
                <%= f.text_field :content, class: 'form-control' %>
            </div>

            <div class="send-button">
                <%= button_tag type: 'submit', class: 'btn', id: 'send-comment-button' do %>
                    <i class="fa fa-paper-plane"></i>
                <% end %>
            </div>

        </div>
    <% end %>
</div>