<h2>Spotted n. <%= @spotted.college_spotted_counter %></h2>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <%= @spotted.content %>
        </p>
    </div>
<div>