<h2> Olá <%= current_user.first_name %> </h2>

<div class="row">
    <p>
        <%= link_to 'Menu das faculdades', navegation_path, class: 'btn btn-primary' %>
    </p>
    <p>
        <%= link_to 'Faculdades favoritas', favorite_colleges_path, class: 'btn btn-primary' %>
    </p>
</div>
