<div class="administrators" id="show">

    <div class="jumbotron">
        <legend>Administradores da página: <%= @college.name %></legend>
        <div class="list">
            <div class="table">
                <table>
                    <% @administrators.each do |adm| %>
                        <tr>
                            <td class="column-trash">
                                <%= link_to  college_administrator_path(@college, adm), method: :delete, id: "trash-bt" do %>
                                    <i class="fa fa-trash fa-lg"></i>
                                <% end %>
                            </td>
                            <td class="column-name"><%= adm.user.nickname %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>

        <div class="btn-back">
            <%= button_to 'Voltar', edit_college_path(@college), method: "get", class: 'botao small' %>
        </div>
    </div>

</div>